<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="layout.css" type="text/css" />
  <link rel="stylesheet" href="checkout-nav.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,400;1,300&family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <title>Checkout</title>
</head>
<body>
  <nav class="checkout-nav">
    <div class="nav-logo">Happy Eats</div>

    <div class="back-to-main">Return to Menu</div>

    <div class="user-info">
      <img src="https://www.1999.co.jp/itbig67/10670870.jpg" class="profile-pic">
      <div class="logout">Sign out</div>
    </div>

  </nav>

  <main class="checkout-content">
    <div class="prep-time">
      <i class="fa-solid fa-clock" id="clock"></i>
      <!-- <i class="fa-solid fa-kitchen-set"></i> -->
      <div >Estimated Total Preperation Time: 40 Minutes</div>
    </div>

    <div class="order-item">
      <header id="order-header">Your items</header>

      <div class="order-detail">
        <div class="order-amount">
          <i class="fa-solid fa-circle-minus"></i>
          <div class="amount">2</div>
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="item-name">Breakfast Sandwich</div>
        <div class="dollar-amount">$19.98</div>
      </div>

      <div class="order-detail">
        <div class="order-amount">
          <i class="fa-solid fa-circle-minus" ></i>
          <div class="amount">1</div>
          <i class="fa-solid fa-circle-plus"></i>

        </div>
        <div class="item-name">Clubhouse</div>
        <div class="dollar-amount">$14.99</div>
      </div>

      <div class="order-detail">
        <div class="order-amount">
          <i class="fa-solid fa-circle-minus"></i>
          <div class="amount">1</div>
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="item-name">Poutine</div>
        <div class="dollar-amount">$11.99</div>
      </div>

    </div>


    <div class="order-total">Order Total $46.96</div>

    <div id="checkout">Checkout</div>
  </main>

</body>
</html>
