.user-info {
  display: flex;
}

#cart-icon {
  margin-top: 14px;
}

.user-login {
  margin: 10px;
  font-size: large;
}

.food-item {
  display: flex;
  justify-content: space-between;
}

.meal-info {
  margin: 10px;
  align-content: space-between;
  position: relative;
}

.food-description, .food-detail {
  position: absolute;
}

.food-name {
  font-size: large;
}

.food-description {
  display: contents;
  top: 0;
  font-weight: 100;
  font-size: small;
  padding: 0;
  margin: 0;
}

.food-detail {
  font-size: large;
  display: flex;
  bottom: 0;
}

#heart {
  padding-right: 10px;
}

#heart:hover {
  color: #f46161;
}

#add-food {
  padding-left: 10px;
}

#add-food:hover {
  color: #3c91e1;
}

.food-pic {
  margin: 10px;
}