.nav-logo {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 10px 10px 10px 20px;
}

.back-to-main {
  width: 30vw;
  display: flex;
  justify-content: center;
  margin: 15px;
  font-weight: 400;
  margin-top: 20px;

}

.user-info {
  display: flex;
  font-size: 30px;
  align-items: center;
}
.profile-pic {
  border-radius: 50%;
  margin-top: 6px;
  height: 45px;
  width: 45px;
  margin-left: 10px;
}

.logout {
  margin: 10px 15px 10px 10px;
  font-size: 25px;
}

.prep-time-checkout {
  margin: 35px;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  margin-top: 0px;
}

#clock {
  margin-right: 15px;
  padding-top: 3px;
  /* color: rgb(106, 173, 209); */
}

.order-item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-left: 0;
}

#order-header {
  font-size: 30px;
  margin-left: 25px;

}

.order-detail {
  display: flex;
  margin: 20px 45px 20px 45px;
  justify-content: space-between;
  border-bottom: 3px solid gainsboro;
}

.order-amount, .dollar-amount {
  margin-right: 10px;
  padding-bottom: 8px;
}

.order-amount {
  padding-left: 10px;
  display: flex;
}

.dollar-amount {
  padding-right: 10px;
}

.order-total, #checkout-button {
  display: flex;
  justify-content: center;
  margin: 20px 45px 20px 45px;
}

#checkout-button {
  border-radius: 15px;
  background-color: rgba(163, 208, 219, 1);
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.fa-circle-minus, .fa-circle-plus {
  color: rgba(163, 208, 219, 1);
  margin-top: 5px;
}

.amount {
  padding: 0px 10px 0px 10px;
}
