

.food-item {
  display: flex;
  justify-content: space-between;
}

.meal-info {
  display: flex;
  margin: 10px;
  margin-left: 20px;
  align-content: space-between;
  position:relative;
  flex-direction: column;
  flex: 2;

  .meal-price {
    font-size: 25px;
  }
}

.food-name {
  margin-top: 10px;
  font-size: 30px;
}

.food-description {
  display: flex;
  font-weight: 300;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.food-detail {
  font-size: large;
  display: flex;

  .prep-time {
    height: 80px;
    font-size: 23px;
  }
}

#heart {
  margin-right: 23px;
  padding-left: 10px;
  padding-top: 5px;
}

#heart:hover {
  color: rgb(244, 97, 97);
}

#add-food {
  padding-left: 10px;
  padding-top: 5px;
}

#add-food:hover {
  color: rgb(60, 145, 225);
}

.food-img {
  margin: 10px;
  // height: 35%;
  // width: 35%;
  flex: 1;
  margin-top: 60px;
  margin-right: 15px;

  .food-pic {
    width: 100%;
  }
}

